ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    background-color: black;
    
}
li{
    color:white;
    float: left;
    margin-left:3%;
    margin-top: 1%;
    margin-bottom: 1%;
}